{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by Lane Rice{% endblock %}

{% block content %}
  <article class="container">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
      <div class="col-sm-4">
        <img src="../img/discs{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-4">
        <h1>{{ title }}</h1>
        <p>{{ year | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
