{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}The discography of the band Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen's Discography</h1>
  <h2>Discography loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for disc in queen.discography %}
      <h3>{{ disc.title }}</h3>
      <p>{{ disc.year }}</p>
      <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
