{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}The discography of the band Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen's Discography</h1>
  <ul>
    <li>Queen - 1973</li>
    <li>Queen II - 1974</li>
    <li>Sheer Heart Attack - 1974</li>
    <li>A Night at the Opera - 1975</li>
    <li>A Day at the Races - 1976</li>
    <li>News of the World - 1977</li>
    <li>Jazz - 1978</li>
    <li>The Game - 1980</li>
    <li>Flash Gordon - 1980</li>
    <li>Hot Space - 1982</li>
    <li>The Works - 1984</li>
    <li>A Kind of Magic - 1986</li>
    <li>The Miracle - 1989</li>
    <li>Innuendo - 1991</li>
    <li>Made in Heaven - 1995</li>
  </ul>
</div>
{% endblock %}
