{% extends '_templates/base.njk' %}

{% block page_title %}Queen Index Page{% endblock %}

{% block page_description %}Information about the band Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Who is Queen?</h1>
  <h6>Queen is a super sick rock band band formed in London in 1970.</h6>
  <div class="row">
    {% for member in queen.members %}
      <div class="col">
        <img src="img/members/{{ member.imagebw }}" alt="band member" class="img-fluid">
        <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
