{% extends '_templates/base.njk' %}

{% block page_title %}Members{% endblock %}

{% block page_description %}A list of the Queen band members.{% endblock %}

{% block content %}
<article class="container">
  <h1>The four members of Queen</h1>
  <p>And information about their backgrounds before, during and after their career.</p>
    <div class="row">
    {% for member in queen.members %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <p class="card-text"> {{ member.instruments }}</p>
          <a href="#">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>



{% endblock %}
