{% extends '_templates/base.njk' %}

{% block page_title %}Members{% endblock %}

{% block page_description %}A list of the Queen band members.{% endblock %}

{% block content %}
<article class="container">
  <h1>The four members of Queen</h1>
  <p>And information about their backgrounds before, during and after their career.</p>
</article>
{% endblock %}
