{% extends '_templates/base.njk' %}

{% block page_title %}Tours{% endblock %}

{% block page_description %}The touring history of the band Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Tours</h1>
  <p>Here I will create a table (maybe) with all the tour dates.</p>
</div>
{% endblock %}
