{% extends '_templates/base.njk' %}

{% block page_title %}Tours{% endblock %}

{% block page_description %}The touring history of the band Queen.{% endblock %}

{% block content %}
<div class="container">
<table class="table table-bordered table-dark table-striped" >
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">City</th>
      <th scope="col">Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for tour in queen.tour %}
    <tr>
      <td>{{ tour.date }}</td>
      <td>{{ tour.city }}</td>
      <td>{{ tour.venue }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
